<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script th:src="@{/js/show.js}"></script>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">
            <hr>
            <h1 th:class="text-center" th:text="'Users management'"></h1>
            <table class="table table-hover mt-4" id="usersTable">
                <thead>
                <tr class="font-weight-bold">
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Current role</th>
                    <th scope="col">Edit user profile</th>
                    <th scope="col">Delete user</th>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <th scope="col">Set new role</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, index : ${users}">
                    <th scope="row" th:text="${index.count}"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <ul>
                            <th:block th:if="${#lists.contains(user.getAuthorities(), roleRoot)}">
                                <li th:text="${roleRoot}"></li>
                            </th:block>
                            <th:block th:if="${#lists.contains(user.getAuthorities(), roleAdmin) &&
                                                !#lists.contains(user.getAuthorities(), roleRoot)}">
                                <li th:text="${roleAdmin}"></li>
                            </th:block>
                            <th:block th:if="${!#lists.contains(user.getAuthorities(), roleAdmin) &&
                                                #lists.contains(user.getAuthorities(), roleEmployee)}">
                                <li th:text="${roleEmployee}"></li>
                            </th:block>
                            <th:block th:if="${!#lists.contains(user.getAuthorities(), roleEmployee)}">
                                <li th:text="${roleUser}"></li>
                            </th:block>
                        </ul>
                    </td>
                    <td th:if="${!#lists.contains(user.getAuthorities(), roleRoot)}">
                        <a class="btn btn-outline-secondary"
                           th:href="@{/users/edit/{id}(id=${user.getId()})}">Edit profile</a>
                    </td>
                    <td th:if="${!#lists.contains(user.getAuthorities(), roleRoot)}">
                        <a class="btn btn-danger"
                           th:href="@{/users/delete/{id}(id=${user.getId()})}">Delete user</a>
                    </td>
                    <td th:if="${!#lists.contains(user.getAuthorities(), roleRoot)}"
                        sec:authorize="hasAuthority('ADMIN')">
                        <th:block th:if="${#lists.contains(user.getAuthorities(), roleAdmin)}">
                            <a class="btn btn-info" th:text="'Set User'"
                               th:href="@{/users/rolechange/user/{id}(id=${user.getId()})}"></a>
                            <a class="btn btn-info mr-1" th:text="'Set Employee'"
                               th:href="@{/users/rolechange/employee/{id}(id=${user.getId()})}"></a>
                        </th:block>
                        <th:block th:if="${#lists.contains(user.getAuthorities(), roleEmployee) &&
                                                !#lists.contains(user.getAuthorities(), roleAdmin)}">
                            <a class="btn btn-info" th:text="'Set User'"
                               th:href="@{/users/rolechange/user/{id}(id=${user.getId()})}"></a>
                            <a class="btn btn-info mr-1" th:text="'Set Admin'"
                               th:href="@{/users/rolechange/admin/{id}(id=${user.getId()})}"></a>
                        </th:block>
                        <th:block th:if="${#lists.contains(user.getAuthorities(), roleUser) &&
                                                !#lists.contains(user.getAuthorities(), roleEmployee)}">
                            <a class="btn btn-info" th:text="'Set Employee'"
                               th:href="@{/users/rolechange/employee/{id}(id=${user.getId()})}"></a>
                            <a class="btn btn-info mr-1" th:text="'Set Admin'"
                               th:href="@{/users/rolechange/admin/{id}(id=${user.getId()})}"></a>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>