<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">
            <h1 th:class="text-center" th:text="'Delete user account: ' + ${bindingModel.getUsername()}"></h1>
            <hr>
            <form class="form w-75 mx-auto" th:method="post" th:object="${bindingModel}"
                  th:action="@{/users/delete/{id}(id=${bindingModel.getId()})}">
                <fieldset th:disabled="disabled">
                    <th:block th:include="~{fragments/form-profile}"></th:block>
                </fieldset>
                <button type="submit" class="btn bg-info text-white mt-4">Delete user account</button>
                <!--<button th:value="Back"  class="btn btn-outline-secondary mt-4 text-center">Cancel</button>-->
            </form>
        </div>
    </main>
</div>
</body>
</html>