<!DOCTYPE html>
<div lang="en" xmlns:th="http://www.thymeleaf.org">

    <hr class="mt-4"/>
    <div th:class="text-center"></div>
    <form class="form w-75 mx-auto" th:action="@{/bankaccounts/create}" method="post" th:object="${bindingModel}">
        <div class="row mt-4">
            <div class="col" th:classappend="${#fields.hasErrors('accountType')}? 'text-danger'">
                <label for="inputBankAccountType">Bank Account Type</label>
                <select class="form-control" th:field="*{accountType}" id="inputBankAccountType">
                    <option th:each="accountType : ${accountTypes}" class="text-center"
                            th:value="${accountType}" th:text="${accountType.getFieldDescription()}"></option>
                </select>
                <small id="accountTypeHelp" th:each="error : ${#fields.errors('accountType')}"
                       th:text="${error}"></small>
            </div>
            <div class="col" th:classappend="${#fields.hasErrors('accountOwner')}? 'text-danger'"
                 sec:authorize="hasAuthority('EMPLOYEE')">
                <label for="inputBankAccountOwner">Account Owner</label>
                <select class="form-control" th:field="*{accountOwner}" id="inputBankAccountOwner">
                    <option th:each="accountOwner : ${accountOwners}" th:class="text-center"
                            th:value="${accountOwner.getUsername()}" th:text="${accountOwner.getUsername()}"></option>
                </select>
                <small id="accountOwnerHelp" th:each="error : ${#fields.errors('accountOwner')}"
                       th:text="${error}"></small>
            </div>
        </div>
        <button type="submit" class="btn bg-info text-white mt-4">Create account</button>
    </form>
</div>