<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script th:src="@{/js/show.js}"></script>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">
            <hr>
            <fieldset class="form-group">
                <div class="row">
                    <h1 class="col-sm-4 pt-0" id="headline">Bank accounts</h1>
                    <div class="form-check form-check-inline ml-auto">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="newAccountRadio"
                               value="newBankAccount">
                        <label class="form-check-label" for="newAccountRadio" th:text="'Create new account'"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="ownBankAccountsRadio"
                               value="ownBankAccounts">
                        <label class="form-check-label" for="ownBankAccountsRadio" th:text="'Own accounts'"></label>
                    </div>
                    <div class="form-check form-check-inline" sec:authorize="hasAuthority('EMPLOYEE')">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="allBankAccountsRadio"
                               value="allBankAccounts">
                        <label class="form-check-label" for="allBankAccountsRadio" th:text="'All bank accounts'"></label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="container mt-4" id="placeholder">
            <th:block th:include="~{bankaccounts/all-accounts}" sec:authorize="hasAuthority('EMPLOYEE')"></th:block>
            <th:block th:include="~{bankaccounts/own-accounts}" sec:authorize="!hasAuthority('EMPLOYEE')"></th:block>
        </div>
    </main>
</div>
</body>
</html>