<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment>
    <table class="table table-hover mt-4" id="accountsTable"
           data-filter-control="true" data-filter-show-clear="true">
        <thead>
        <tr class="font-weight-bold">
            <th scope="col">#</th>
            <th scope="col" data-field="iban" data-filter-control="select">IBAN</th>
            <th scope="col" data-field="type"  data-filter-control="select">Account type</th>
            <th scope="col" data-field="status"  data-filter-control="select">Account status</th>
            <th scope="col" data-field="balance"  data-filter-control="select">Current balance</th>
            <th scope="col" sec:authorize="!hasAuthority('EMPLOYEE')">View details</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Edit</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, index : ${userBankAccounts}">
            <td scope="row" th:text="${index.count}"></td>
            <td th:text="${account.getIban()}"></td>
            <td th:text="${account.getAccountType().getFieldDescription()}"></td>
            <td th:text="${account.getAccountStatus().getFieldDescription()}"></td>
            <td th:text="${account.getBalance()}" th:class="text-right"></td>
            <td>
                <a class="btn btn-outline-secondary" sec:authorize="!hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/edit/{iban}(iban=${account.getIban()})}" th:text="'View details'"></a>
                <a class="btn btn-outline-secondary" sec:authorize="hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/edit/{iban}(iban=${account.getIban()})}" th:text="'Edit'"></a>
            </td>
            <td>
                <a class="btn btn-danger" sec:authorize="hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/delete/{iban}(iban=${account.getIban()})}" th:text="'Delete'"></a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>

<!--<script>-->
    <!--$(function () {-->
        <!--$('#accountsTable').bootstrapTable()-->
    <!--})-->
<!--</script>-->