<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment>
    <table class="table table-hover mt-4" id="ownBankAccounts">
        <thead>
        <tr class="font-weight-bold">
            <th scope="col">#</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Account owner</th>
            <th scope="col">IBAN</th>
            <th scope="col">Account type</th>
            <th scope="col">Account status</th>
            <th scope="col" th:class="text-right">Current balance</th>
            <th scope="col" sec:authorize="!hasAuthority('EMPLOYEE')">View details</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Edit</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, index : ${bankAccountsOwner.getBankAccounts()}">
            <th scope="row" th:text="${index.count}"></th>
            <td th:text="${bankAccountsOwner.getUsername()}" sec:authorize="hasAuthority('EMPLOYEE')"></td>
            <td th:text="${account.getIban()}"></td>
            <td th:text="${account.getAccountType()}"></td>
            <td th:text="${account.getAccountStatus()}"></td>
            <td th:text="${account.getBalance()}" th:class="text-right"></td>
            <td>
                <a class="btn btn-outline-secondary" sec:authorize="!hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/edit/{iban}(iban=${account.getIban()})}" th:text="'View details'"></a>
                <a class="btn btn-outline-secondary" sec:authorize="hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/edit/{iban}(iban=${account.getIban()})}" th:text="'Edit'"></a>
            </td>
            <td>
                <a class="btn btn-danger" sec:authorize="hasAuthority('EMPLOYEE')"
                   th:href="@{/bankaccounts/delete/{iban}(iban=${account.getIban()})}" th:text="'Delete'"></a>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>