<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'">
    <label for="inputVirusName">Name</label>
    <input type="text" th:field="*{name}" class="form-control" id="inputVirusName">
    <small id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'">
    <label for="virusDescription">Description</label>
    <textarea th:field="*{description}" class="form-control" id="virusDescription" rows="3"></textarea>
    <small id="descriptionHelp" th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('sideEffects')}? 'text-danger'">
    <label for="inputVirusSideEffect">Side Effect</label>
    <input type="text" th:field="*{sideEffects}" class="form-control" id="inputVirusSideEffect">
    <small id="sideEffectsHelp" th:each="error : ${#fields.errors('sideEffects')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('creator')}? 'text-danger'">
    <label for="inputVirusCreator">Creator</label>
    <input type="text" th:field="*{creator}" class="form-control" id="inputVirusCreator">
    <small id="creatorHelp" th:each="error : ${#fields.errors('creator')}" th:text="${error}"></small>
</div>
<div class="form-check" th:classappend="${#fields.hasErrors('deadly')}? 'text-danger'">
    <input type="checkbox" th:field="*{deadly}" class="form-check-input" id="inputVirusDeadly">
    <label class="form-check-label" for="inputVirusDeadly">Is Deadly?</label>
    <small id="isDeadlyHelp" th:each="error : ${#fields.errors('deadly')}" th:text="${error}"></small>
</div>
<div class="form-check mb-3" th:classappend="${#fields.hasErrors('curable')}? 'text-danger'">
    <input type="checkbox" th:field="*{curable}" class="form-check-input" id="inputVirusCurable">
    <label class="form-check-label" for="inputVirusCurable">Is Curable?</label>
    <small id="isCurableHelp" th:each="error : ${#fields.errors('curable')}" th:text="${error}"></small>
</div>
<th:block th:each="mutation : ${T(p06residentevil.domain.entities.Mutation).values()}">
    <div class="form-check" th:classappend="${#fields.hasErrors('mutation')}? 'text-danger'">
        <input class="form-check-input" th:field="*{mutation}" type="radio" name="inputMutationType"
               id="inputMutationType" th:value="${mutation}" th:text="${mutation}"/>
    </div>
    <small id="mutationHelp" th:each="error : ${#fields.errors('mutation')}" th:text="${error}"></small>
</th:block>
<div class="form-check disabled">
    <input class="form-check-input" type="radio" name="saveHumanity" id="saveHumanity" value="option3"
           disabled>
    <label class="form-check-label" for="saveHumanity">Save Humanity</label>
</div>
<div class="form-group mt-3" th:classappend="${#fields.hasErrors('turnoverRate')}? 'text-danger'">
    <label for="inputVirusTurnover">Turnover Rate</label>
    <input type="number" th:field="*{turnoverRate}" class="form-control" id="inputVirusTurnover">
    <small id="turnoverRateHelp" th:each="error : ${#fields.errors('turnoverRate')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('hoursUntilTurn')}? 'text-danger'">
    <label for="inputVirusHoursToTurn">Hours Until Turn</label>
    <input type="number" th:field="*{hoursUntilTurn}" class="form-control" id="inputVirusHoursToTurn">
    <small id="hoursUntilTurnHelp" th:each="error : ${#fields.errors('hoursUntilTurn')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('magnitude')}? 'text-danger'">
    <label for="inputVirusMagnitude">Magnitude</label>
    <select class="form-control" th:field="*{magnitude}" id="inputVirusMagnitude">
        <option th:each="magnitude : ${T(p06residentevil.domain.entities.Magnitude).values()}"
                th:value="${magnitude}" th:text="${magnitude}"></option>
    </select>
    <small id="magnitudeHelp" th:each="error : ${#fields.errors('magnitude')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('releasedOn')}? 'text-danger'">
    <label for="inputReleaseDate">Release Date</label>
    <input type="date" th:field="*{releasedOn}" class="form-control" id="inputReleaseDate">
    <small id="releasedOn" th:each="error : ${#fields.errors('releasedOn')}" th:text="${error}"></small>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('capitals')}? 'text-danger'">
    <!--<div class="form-group">-->
    <label for="inputCapitals">Affected Capitals</label>
    <select class="custom-select" th:field="*{capitals}" id="inputCapitals" multiple>
        <option th:each="capital : ${capitals}" th:value="${capital.id}" th:text="${capital.name}">
        </option>
    </select>
    <small id="capitalsHelp" th:each="error : ${#fields.errors('capitals')}" th:text="${error}"></small>
</div>