<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info shadow-lg rounded">
        <th:block th:if="${#authorization.expression('isAnonymous()')}">
            <a class="navbar-brand text-white" th:href="@{/}">eBanking Demo</a>
        </th:block>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="navbar-brand text-white" th:href="@{/home}">eBanking Demo</a>
        </th:block>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <th:block th:if="${#authorization.expression('isAnonymous()')}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link text-white" data-toggle="modal" data-target="#loginModal">Login</a>
                    </li>
                </th:block>
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h4 class="modal-title text-white" id="loginModalLabel">Login</h4>
                                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="form w-75 mx-auto" th:action="@{/users/login}" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="inputUserame">Username</label>
                                        <input type="text" name="username" class="form-control" id="inputUserame"
                                               placeholder="Enter username">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Password</label>
                                        <input type="password" name="password" class="form-control" id="inputPassword"
                                               placeholder="Enter password">
                                    </div>
                                    <button type="submit" class="btn bg-info text-white">Login</button>
                                    <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/home}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" th:href="@{#}" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/users/profile}">User profile</a>
                            <a class="dropdown-item" th:href="@{/users/all-users}"
                               sec:authorize="hasAnyAuthority('EMPLOYEE', 'ADMIN')">All users</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" th:href="@{#}" id="bankAccountDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                        <div class="dropdown-menu" aria-labelledby="bankAccountDropdown">
                            <a class="dropdown-item" th:href="@{/bankaccounts/home}">Bank Accounts</a>
                            <a class="dropdown-item" th:href="@{/cards/home}">Cards</a>
                            <a class="dropdown-item" th:href="@{/loans/home}">Loans</a>
                            <a class="dropdown-item" th:href="@{/transactions/home}">Transactions</a>
                            <a class="dropdown-item" th:href="@{/beneficiaries/home}">Beneficiaries</a>
                        </div>
                    </li>
                    <th:block sec:authorize="hasAuthority('EMPLOYEE')">
                        <li class="nav-item active">
                            <a class="nav-link text-white" th:href="@{/confirmations/all}">Confirmations</a>
                        </li>
                    </th:block>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/users/logout}" th:method="post">Logout</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</th:block>
