<th:block th:fragment>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info rounded">
        <th:block th:if="${#authorization.expression('isAnonymous()')}">
            <a class="navbar-brand text-white" th:href="@{/}">eBanking Demo</a>
        </th:block>
        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="navbar-brand text-white" th:href="@{/home}">eBanking Demo</a>
        </th:block>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <th:block th:if="${#authorization.expression('isAnonymous()')}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/login}">Login</a>
                    </li>
                </th:block>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/home}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" th:href="@{#}" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Viruses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/viruses/show}">Bank Accounts</a>
                            <a class="dropdown-item" th:href="@{/viruses/add}"
                               sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">Add Account</a>
                        </div>
                    </li>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item active">
                            <a class="nav-link text-white" th:href="@{/users}">Users</a>
                        </li>
                    </th:block>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/logout}" th:method="post">Logout</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </nav>
</th:block>
