<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment>
    <table class="table table-hover mt-4" id="ownTransactions">
        <thead>
        <tr class="font-weight-bold">
            <th scope="col">#</th>
            <th scope="col" sec:authorize="hasAuthority('EMPLOYEE')">Acc. owner</th>
            <th scope="col">Bank account</th>
            <th scope="col">Type</th>
            <th scope="col" th:class="text-right">Amount</th>
            <th scope="col">Recipient</th>
            <th scope="col">Date & Time</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction, index : ${ownTransactions}">
            <th scope="row" th:text="${index.count}"></th>
            <td th:text="${transaction.getBankAccount().getAccountOwner().getUsername()}"
                sec:authorize="hasAuthority('EMPLOYEE')"></td>
            <td th:text="${transaction.getBankAccount().getIban()}"></td>
            <td th:text="${transaction.getTransactionType().getFieldDescription()}"></td>
            <td th:class="text-right" th:text="${transaction.getAmount()}"></td>
            <td th:text="|${transaction.getRecipientFirstName()} ${transaction.getRecipientLastName()} |"></td>
            <td th:text="${#temporals.format(transaction.getTransactionDateTime(), 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${transaction.getStatus().getFieldDescription()}" th:pattern="dd-MM-yyyy"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="transactionActionButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="transactionActionButton">
                        <a class="dropdown-item" th:text="'View/Edit'"
                           th:href="@{/transactions/edit/{id}(id=${transaction.getId()})}"></a>
                        <th:block th:if="${transaction.getStatus().equals(notConfirmedStatus)}">
                            <a class="dropdown-item" th:text="'Confirm'"
                               th:href="@{/transactions/confirm/{id}(id=${transaction.getId()})}"></a>
                        </th:block>
                        <th:block th:if="${transaction.getStatus().equals(notConfirmedStatus)}">
                            <a class="dropdown-item text-danger font-weight-bold" th:text="'Cancel transaction'"
                               th:href="@{/transactions/cancel/{id}(id=${transaction.getId()})}"></a>
                        </th:block>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>