<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script th:src="@{/js/show.js}"></script>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4" id="placeholder">
            <hr class="mt-4"/>
            <h1 th:class="text-center">Welcome to eBanking Demo Control Panel</h1>
            <hr class="mt-4"/>
        </div>
    </main>
</div>
</body>
</html>