<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron bg-light mt-4">
            <h1>eBanking Demo</h1>
            <hr>
            <p>Try this eBanking Demo to test the basic services of our online banking application.</p>
            <p><a href="#" class="text-info font-weight-bold" data-toggle="modal" data-target="#loginModal">Login</a>, if you don't have an account,
                don't hesitate - <a class="text-info font-weight-bold" th:href="@{/users/register}">Register</a></p>
        </div>
    </main>
</div>
</body>
</html>